body {

    margin: 0;
    font-family: 'Poppins', sans-serif;

}

section h1 {

    font-size: 40px;
    font-weight: bold;

}

section p {

    color: #717171;

}

section {

    margin-bottom: 130px;

}


/* first Section Start    */

.first-section {

    background-image: url(image/donate1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    padding: 130px 50px;

}

.header-div {

    width: 60%;
    margin: 50px auto;
    color: white;
    text-align: center;

}

#head-text {

    font-size: 60px;

}


.button {

    text-decoration: none;
    padding: 15px 30px;
    color: white;
    background-color: #F65340;
    border-radius: 5px;

}

/* first Section End    */



/* Second Section Start    */

.donate-today-div {

    width: 40%;
    text-align: center;
    margin: 0 auto;

}

.donate-today-div2 {

    width: 70%;
    text-align: center;
    margin: 0 auto;

}

.donate-today-div2 li {

    display: inline-block;
    margin: 40px 20px;

}

.li-muted-text {

    color: #717171;
    font-size: 30px;
    font-weight: bolder;

}

#border-text {

    color: #F65340;
    font-size: 30px;
    font-weight: bolder;
    background-color: #eddddbfd;
    border: 3px solid #F65340;
    padding: 30px;
    border-radius: 5px;

}

.donate-today-div3 {

    width: 50%;
    text-align: center;
    margin: 40px auto;
    color: #717171;

}

.donate-today-div3 hr {

    color: #717171;
    margin-bottom: 40px;

}

/* Second Section End    */



/* Third Section Start    */

.donate-plan {

    text-align: center;
}

.card-container {

    display: flex;
    justify-content: center;

}

.card-body1 {

    width: 20%;
    padding: 30px;
    background-color: #eceef4;
    margin-top: 60px;
    margin-left: 25px;
    border-radius: 5px;

}

.card-body2 {

    width: 20%;
    padding: 30px;
    background-color: #EDCFD2;
    margin-top: 60px;
    margin-left: 25px;
    border-radius: 5px;

}

.card-body3 {

    width: 20%;
    padding: 30px;
    background-color: #F2F2D0;
    margin-top: 60px;
    margin-left: 25px;
    border-radius: 5px;

}

/* Third Section End    */



/* fourth Section Start    */

.section-4 {

    background-color: rgb(243, 242, 242);
    padding-top: 30px;
    padding-bottom: 40px;
}

.Testimonials {

    text-align: center;
    margin: 0 auto;

}


.info {

    display: flex;
    justify-content: center;

}

.img {

    width: 50%;
    border-radius: 50%;

}

.statement {

    width: 20%;
    text-align: center;
    padding: 20px 40px 0px 40px;
    margin-top: 50px;

}

/* Fourth Section End    */




/* Fifth Section Start    */

.get-my-update {

    width: 40%;
    text-align: center;
    margin: 0 auto;

}

.mail-box {

    width: 40%;
    text-align: center;
    margin: 50px auto;
    background-color: #F2F2D0;
    padding: 100px;
    border-radius: 5px;

}

.text-field {

    padding: 12px 80px;
    background-color: rgb(214, 213, 213);
    border: 2px solid rgb(214, 213, 213);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.button2 {

    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-color: #F65340;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

/* Fifth Section End    */




/* footer Start    */

footer {

    background-color: black;
    text-align: center;
    padding: 70px;
    color: white;

}

/* footer End    */