body {

    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section h1 {

    font-size: 40px;
}

section {

    margin-bottom: 100px;
}


.first-section {

    background-image: url(image/donate1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    padding: 130px 50px;

}

.header-div {
    width: 60%;
    margin: 50px auto;
    color: white;
    text-align: center;
}

#head-text {

    font-size: 60px;
}


.button {

    text-decoration: none;
    padding: 15px 30px;
    color: white;
    background-color: #F65340;
    border-radius: 5px;

}

.donate-today-div {

    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.donate-today-div2 {

    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.donate-today-div2 li {

    display: inline-block;
    margin: 40px 20px;
}

.li-muted-text {

    color: #717171;
    font-size: 30px;
    font-weight: bolder;
}

#border-text {

    color: #F65340;
    font-size: 30px;
    font-weight: bolder;
    background-color: #eddddbfd;
    border: 3px solid #F65340;
    padding: 30px;
    border-radius: 5px;
}

.donate-today-div3 {

    width: 50%;
    text-align: center;
    margin: 40px auto;
    color: #717171;
}

.donate-today-div3 hr {

    color: #717171;
    margin-bottom: 40px;
}